* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    background-color: antiquewhite;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 160px 50px 4fr 5fr 0.5fr;
    grid-template-areas: 
    'header header header header'
    'nav    nav     nav   nav'
    'main-picture main-picture main-picture main-picture'
    'content content content content'
    'footer footer footer footer';
    gap: 15px;
}

.header img {
    height: 140px;
    margin-right: 100px;
    margin-left: 30px;
    border-radius: 50%;
}

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    z-index: 1;
}

.nav a, .nav li {
    text-decoration: none;
    list-style: none;
    padding: 0 20px;
}

.nav ul {
    padding: 0;
    display: flex;
    align-items: center;
}

.main-picture {
    grid-area: main-picture;
    max-height: 80vh;
    background-image: url("https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    color: wheat;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px;
}

.main-picture h2 {
    position: relative;
    bottom: 120px;
    
}

/* .main-picture img {
    width: 100vw;
    
} */

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    transition: background-color 2s, color 2s, font-size 1s;
}

.info img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
}

hr {
    width: 80%;
}

.info-1:hover {
    background-color: darkcyan;
    color: wheat;
    font-size: larger;
}

.info-2:hover {
    background-color: rgb(29, 153, 49);
    color: wheat;
    font-size: smaller;
}

.info-3:hover {
    background-color: rgb(116, 17, 129);
    color: wheat;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.contact-info, .map {
    margin: 10px 20px;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}