@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
    font-family: 'Unbounded', cursive;
    font-size: xx-large;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #2C6E49;
}

.container {
    z-index: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.infoContainer {
    background-color: #4C956C;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#overlay {
    background-color: #2C6E49;
    color: #fff;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.infoTitle {
    color: #fff;
}

.container {
    display: none;
}